.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px;
}

.pokemon {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition-duration: 0.2s;
  position: relative;
  height: 120px;
}

.pokemon img {
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 110px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.pokemon p {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #000;
  z-index: 1;
}

.pokemon:hover {
  background-color: rgb(177, 219, 255);
  color: #999;
  cursor: pointer;
}

.pokemon:hover p {
  animation-name: text-color;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

.pokemon:hover img {
  animation-name: pokemon-turn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

@keyframes pokemon-turn {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(30deg) scale(1.25);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes text-color {
  0% {
    color: #000;
    font-weight: normal;
  }
  30% {
    color: red;
  }
  50% {
    color: blue;
    font-weight: 900;
  }
  70% {
    color: green;
  }
  100% {
    color: #000;
    font-weight: normal;
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 0 15px;
}

.pagination button {
  padding: 15px;
  font-size: 18px;
  font-weight: 800;
  background-color: coral;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  display: block;
  transition-duration: 0.2s;
}

.pagination button:hover {
  background-color: gold;
  color: #000;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #999;
  color: #fff;
  cursor: not-allowed;
}

.page-number {
  text-align: center;
  font-weight: 600;
  color: brown;
  width: 200px;
  margin: 15px auto;
}

.form {
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 15px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: coral;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 800;
  transition-duration: 0.2s;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.form button:hover {
  background-color: rgb(250, 113, 63);
}

.form input {
  font-size: 18px;
  padding: 0 15px;
  border: none;
  background-color: #eee;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
}

* {
  box-sizing: border-box;
}

.error-message {
  color: red;
  padding: 0 15px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.pokemon-page {
  background-color: rgb(203, 234, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sprite-container {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemon-page .circle {
  height: 100%;
  width: 100%;
  background-color: rgb(234, 252, 255);
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: 0;
}

.pokemon-page .sprite {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
